<hr>
<article>
	<div class="headline">
		<a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
	</div>
	<div class="grey">
		<time>{{ post.date | date: "%Y-%m-%d" }}</time>
		{% if post.review %}
			- reviewed by <a href="{{ post.review_url }}">{{ post.review }}</a>
		{% endif %}
		<br>
	</div>
	{{ post.content }}
	{% if post.slides %}
		{% assign slides_folder = post.slides | prepend: "/images/" %}
		<div class="slideshow-container">
		{% for file in site.static_files %}
			{% if file.path contains slides_folder %}
				{% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}
					<div class="slideshow-image">
						<img src="{{ file.path }}" />
					</div>
				{% endif %}
			{% endif %}
		{% endfor %} 
		<a class="prev">&#10094;</a>
		<a class="next">&#10095;</a>
	</div>
    {% endif %}
</article>