<div class="slider_placeholder">
<div class="slider">
  <ul>
    <li id="no-js-slider-1" class="slide">
      <img src="../images/jazz/001.jpg">
      <a class="prev" href="#no-js-slider-10">◄</a>
      <a class="next" href="#no-js-slider-2">►</a>
    </li>
    <li id="no-js-slider-2" class="slide">
      <img src="../images/jazz/002.jpg">
      <a class="prev" href="#no-js-slider-1">◄</a>
      <a class="next" href="#no-js-slider-3">►</a>           
    </li>
    <li id="no-js-slider-3" class="slide">
      <img src="https://lh3.googleusercontent.com/-a4HykmTjnLw/UUoRZ9AOzNI/AAAAAAAAAD8/bsVqg8naI2o/s1231/4.jpeg.jpg">
      <a class="prev" href="#no-js-slider-2">◄</a>
      <a class="next" href="#no-js-slider-4">►</a>           
    </li>
    <li id="no-js-slider-4" class="slide">
      <img src="https://lh5.googleusercontent.com/-lmIWz4ADxc0/UUoRaFjdNXI/AAAAAAAAAEI/widPZMMiBVM/s1231/5.jpeg.jpg">
      <a class="prev" href="#no-js-slider-3">◄</a>
      <a class="next" href="#no-js-slider-5">►</a>          
    </li>
    <li id="no-js-slider-5" class="slide">
      <img src="https://lh3.googleusercontent.com/-ZbMYEV9F1Bc/UUoRajU3qmI/AAAAAAAAAEE/Y8nB8gecGgU/s1000/6.jpeg.jpg"> 
      <a class="prev" href="#no-js-slider-4">◄</a> 
      <a class="next" href="#no-js-slider-6">►</a>
    </li>
    <li id="no-js-slider-6" class="slide">
      <img src="https://lh6.googleusercontent.com/-88kTocv470A/UUoRbG0sNgI/AAAAAAAAAEU/XNupHrK1pvE/s1231/7.jpeg.jpg"> 
      <a class="prev" href="#no-js-slider-5">◄</a> 
      <a class="next" href="#no-js-slider-7">►</a>
    </li>
    <li id="no-js-slider-7" class="slide">
      <img src="https://lh3.googleusercontent.com/-O_0Ce7JxwJo/UUoRbZ6g4HI/AAAAAAAAAEc/O0mmZ0t0U88/s1231/8.jpeg.jpg"> 
      <a class="prev" href="#no-js-slider-6">◄</a> 
      <a class="next" href="#no-js-slider-8">►</a>
    </li>
    <li id="no-js-slider-8" class="slide">
      <img src="https://lh6.googleusercontent.com/-w7N6XM1WsqY/UUoRbRFPCeI/AAAAAAAAAEg/u3KB5ykIk9g/s1231/9.jpeg.jpg"> 
      <a class="prev" href="#no-js-slider-7">◄</a> 
      <a class="next" href="#no-js-slider-9">►</a>
    </li>
    <li id="no-js-slider-9" class="slide">
      <img src="https://lh6.googleusercontent.com/-7Rf9aSkpphc/UUoRYyoTOWI/AAAAAAAAADw/WRl-jV1fISc/s1000/10.jpeg.jpg"> 
      <a class="prev" href="#no-js-slider-8">◄</a> 
      <a class="next" href="#no-js-slider-10">►</a>
    </li>
    <li id="no-js-slider-10" class="slide">
      <img src="https://lh6.googleusercontent.com/-UH8Tl-EG78c/UUoRYmvOWoI/AAAAAAAAADg/EIT1YomfqBo/s1231/1.jpeg.jpg">
      <a class="prev" href="#no-js-slider-9">◄</a>
      <a class="next" href="#no-js-slider-1">►</a>          
    </li>
  </ul>
</div>
</div>
