{% for file in site.static_files %}
  {% if file.path contains include.folder %}
    {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}
<div class="slideshow-container">
  <div class="mySlides1">
    <img src="{{ file.path }}" style="width:100%">
  </div>
</div>
    {% endif %}
  {% endif %}
{% endfor %}
<a class="prev" onclick="plusSlides(-1, 0)">&#10094;</a>
<a class="next" onclick="plusSlides(1, 0)">&#10095;</a>


<script>
var slideIndex = [{% for post in site.categories.photos %}{% if post.slider %}{% if forloop.last == true %}1{% else %}1,{% endif %}{% endif %}{% endfor %}];
var slideId = [{% for post in site.categories.photos %}{% if forloop.last == true %}{{ post.folder }}{% else %}{{ post.folder }}, {% endif %}{% endfor %}];
{% for post in site.categories.photos %}{% if post.slider %}showSlides(1, {{ forloop.index0 }});{% endif %}{% endfor %}

function plusSlides(n, no) {
  showSlides(slideIndex[no] += n, no);
}

function showSlides(n, no) {
  var i;
  var x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}    
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex[no]-1].style.display = "block";  
}
</script>